$primary: #00558C;
$hover: #076091;

@import "dist/bootstrap/scss/bootstrap";

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.navbar-nav > li {
  float: left;
  position: relative;
}

.navbar-dark {
  background: #03173E;
}

.navbar-item .active ::after {
  border-bottom: 3px solid #ff6600;
  bottom: -8px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

a {
  font-weight: bold;
  color: $primary;
}

.banner-area {
  position: relative;
}

.banner-area-section {
  height: 100px;
}

.banner-area-section h4 {
  position: absolute;
  bottom: 0;
}

.banner-area-section .btn-lg {
  display: inline;
}

.btn-primary {
  background: $primary;
  border: 1px solid $primary;
}

.btn-primary:hover {
  background: $hover;
}

.btn-primary:active {
  background: $hover;
}

.filter-white{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.input-group-sm {
  display: inline-flex;
  background: white;
  padding: 1px;
  border-radius: 3px;
  margin: -4px 0;
}

.input-group-sm .form-control {
  border: 1px solid white;
  outline: none;
}

.input-group-sm button {
  width: 28px;
  height: 28px;
  margin: auto;
  margin-right: 2px;
}

.search-icon {
  padding-bottom: 6px;
  padding-right: 10px;
}

.profile-section span {
  margin-left: 8px;
}

.profile-section .badge-pill {
  position: absolute;
  font-size: 60%;
  margin-left: -12px;
  margin-bottom: 10px;
}

.banner-area {
  background: #fff;
}

.banner-area .row {
  padding-top: 4px;
}

.banner-area h1 {
  align-self: flex-end;
}

.banner-area h6 {
  color: #8D8D8D;
}

.banner-area h5 {
  align-self: flex-end;
  color: #777;
}

.btn-transparent {
  border: 1px solid #777;
  background-color: white;
}

.info-button {
  padding-bottom: 4px;
}

.main-area {
  background: #F5F5F5;
}


.custom-container {
  display: block;
  position:relative;
  padding-left: 50px;
  cursor: pointer;
  font-size: 120%;
  user-select: none;
}

.custom-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: white;
}

.custom-container input ~ .checkmark {
  background-color: white;
}

.custom-container input:checked ~ .checkmark {
  background-color: $primary
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-container input:checked ~ .checkmark {
  border: 2px solid $primary;
  border-radius: 3px;
}

.custom-container input:checked ~ .checkmark:after {
  display: block;
}

.custom-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list-item-text {
  margin-left: 32px;
}

.circled-number {
  display: inline;
  background-color: #ddd;
  padding: 2px 10px;
  font-size: 130%;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

.circle-selected {
  background-color: $primary;
  color: white;
}